body.home{
    width: 100vw;
    height: 100vh;

    #primary{
        width: 100vw;
    }
}

body.home::after {
    width: 100%;
    height: 160%;
    content: '';
    position: absolute;
    top:0;
    bottom:0;
    left:0;
    right:0;
    clip-path: polygon(100% 90%, 100% 100%, 100% 100%, 70% 100%);
    background-color: rgb(250, 219, 232);
    z-index: -1;
    @include desktop{
        clip-path: polygon(90% 0, 100% 0, 100% 100%, 70% 100%);
        
    }
}

.site-title{

    font-family: $font_title;
    font-size: clamp(.9rem, #{"-0.875rem + 5.333vw"}, 3rem);
    font-weight: bold;
    margin-bottom: 0;
    a{
        text-decoration: none;
    }
}

.site-description{
    font-family: $font_title;
    font-size: clamp(.8rem, #{"-0.875rem + 8.333vw"}, 1.5rem);
    font-weight: normal;
    margin-top: 0;
    margin-left: 2em;
}

.accueil{
    font-size: clamp(1rem, #{"-0.875rem + 4.333vw"}, 2rem);
    ul{
        list-style-type: none;
        padding-left: 0;
        @include desktop{
            margin-left: 1.5em;
        }
        
    }
    img{
        
        @include desktop{
            border-radius: 25%;
            border: rgb(196, 139, 223) solid 2px;
        }
    }
 
}

h1.entry-title{
    margin-left: 0em;
    font-size: clamp(1.5rem, #{"-0.875rem + 4.333vw"}, 2.5rem);
    @include desktop{
        margin-left: 1.5em;
    }
}


